/*-----Global-----*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    font-family: sans-serif;
}
body {
    width: 100%;
    background-image: url(images/BG_01.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper {
    width: 90%;
    margin: 0 auto;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
.button_resume{
    background: lightblue;
    padding: 5px;
}
h1 {
   color: white;
    font-size: 48px;
}
p {
    color: white;
    font-size: 16px;
}
ul {
    list-style: none;
    margin-top: 30px;
}
li {
    color: white;
    font-size: 16px;
    margin-bottom: 20px;
}




/*-----nav-----*/
nav {
    height: 100px;
    line-height: 100px;
}
nav a {
    color: white;
    text-decoration: none;
}
nav a img {
    vertical-align: middle;
}
nav a:nth-child(2) {
    float: right;
}




/*-----header-----*/
header {
    margin: 100px 0 200px 0;
    text-align: center;
}
header p {
    width: 45%;
    margin: 30px auto 0 auto;
}
header a {
    color: #FF4A5E;
    text-decoration: none;
}




/*-----Major Work-----*/

.work1 {
    text-align: center;
    width: 100%;
}
.work1 h1{
    font-size: 30px;
    margin-right: 37%;
}
.work1 a img {
    margin: 1%;
    width: 45%;
}
.work1 p {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;

}


.work2 {
    text-align: center;
    width: 100%;
    margin-top: 10%;
}
.work2 h1{
    font-size: 30px;
    margin-right: 33%;
}
.work2 a img {
    margin: 1%;
    width: 45%;
}
.work2 p {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;

}



/*-----whatIDO-----*/
.whatIdo {
    text-align: center;
    margin: 100px 0 200px 0;
    position: relative;
}
.whatIdo h1 {
    color: #13A3FD;
}
.iAm {
    color: #25272C;
    font-size: 150px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    top: -20px;
    z-index: -1; 
}





/*-----Minor Work-----*/

.work3 {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.work3 h1{
    font-size: 30px;
    margin-right: 42%;
}
.work3 a img {
    margin: 1%;
    width: 50%;
}
.work3 p {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;

}

.work4 {
    width: 100%;
    text-align: center;
    margin-top: 10%;
}
.work4 h1{
    font-size: 30px;
    margin-right: 42%;
}
.work4 a img {
    margin: 1%;
    width: 50%;
}
.work4 p {
    margin-top: 2%;
    margin-bottom: 3%;
    margin-left: 20%;
    margin-right: 20%;

}



/*-----footer-----*/
footer {
    text-align: center;
    margin: 60px 0;
}
footer p {
    color: #404348;
}





/*-----Responsive-----*/
@media only screen and (max-width:991px) {
    header p {
        width: 100%;
    }
    .work a img {
        margin: 2%;
        width: 96%;
    }
    .work2 a img {
        margin: 2%;
        width: 96%;
    }

}
@media only screen and (max-width: 768px) {
    header {
        width: 96%;
        margin: 30px auto 100px auto;
        text-align: left;
    }
    .whatIdo {
        width: 96%;
        margin: 70px auto 100px auto;
    }
    .iAm {
        visibility: hidden;
    }
}






